<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List des clients
    </ion-title>
    <ion-buttons slot="end" class="add-client" [routerLink]="['/add-client']">
        <ion-icon class="add-client" name="add-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="client-list-page">
  <ion-list class="list-client">
    <ion-item *ngFor="let client of clients" class="client-item">
       <ion-label class="text-client">
         <h2 class="clients">{{client.name}} <span class="right-price">20000fCFA</span></h2>
         <p class="content">
           <span class="pub">10 publicités</span>
           <span class="right-btn">
             <ion-icon slot="end" name="add" color="success" class="icon-add"></ion-icon>
            <ion-icon slot="end" name="trash" color="success" class="icon-trash"></ion-icon>
           </span>
         </p>
       </ion-label>
     </ion-item>
  </ion-list>
</ion-content>
