.login-page{
  .login-form{
    padding: 90px 30px;
    height: 100%;
  }
  .login-form .item-input{
    border: 1px solid #cccccc73;
    border-radius: 50px;
    box-shadow: 1px 2px 9px #e1dedecc;
    margin: 38px 0;
  }
  .login-btn{
    height: 50px;
  }

  .main-title{
    font-weight: 700;
    font-size: 45px;
    color: #999;
  }
  .forget-password-text{
    max-height: 30px;
    margin-top: 50px;
    padding: 0;
    text-align: center;
  }
  .logo-white-section{
    position: absolute;
    right: -60px;
    width: 215px;
  }
}
