.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.b-rad-50,
.b-rad-50 button{
  border-radius: 50px;
  --border-radius: 50px;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.uppercase{
  text-transform: uppercase;
}
.item-interactive.ion-invalid,
.item-interactive.ion-valid{
    --highlight-background: transparent;
}
/* .item-interactive.ion-pristine.ion-invalid.ion-touched{
  box-shadow: 1px 1px 3px 2px #c30606 !important;
} */
agm-map{
   height: calc(100vh - 10px);
 }
 .custom-input{
    width: 100%;
    margin: 5px 0;
    height: 45px;
    border: none;
    background: #ecf3ff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
 }
 .label-fixed.sc-ion-label-md-h{
   -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
 }
 .notif-icon{
   right: 10px;
    position: absolute;
 }
 ion-badge.badge{
   top: 10px;
    position: absolute;
    right: 10px;
 }
 .w-100{
   width: 100% !important;
 }
 .item-native .item-inner{
   background: #fff !important;
 }
.back-button{
  width: 40px;
  position: absolute;
}
.back-button i{
    font-size: 45px;
    color: #2fb5ac;
}
ion-select.custom-input{
  text-align: left;
  line-height: 38px;
}
.add-client i,
.add-client{
  font-size: 35px;
  box-shadow: 0px 0px 5px #1dc1b6;
  border-radius: 50%;
}
.header-md:after{
  display: none !important;
}
.toolbar-background{
  --background: transparent !important;
   background: transparent;
}
.light-background{
  --background: #f7f8f8;
    background: #f7f8f8;
}
.custom-modal-add .modal-wrapper{
   margin-top: 110px;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   box-shadow: 0px -2px 10px #3a3535;
}
.custom-modal-add .modal-wrapper .field-row{
  margin-bottom: 25px;
}
.custom-modal-add .modal-wrapper .field-row ion-input input,
.custom-modal-add .modal-wrapper .field-row ion-select,
.custom-modal-add .modal-wrapper .field-row ion-datetime,
.custom-field ion-input input,
.custom-field ion-select,
.custom-field ion-datetime{
  min-height: 45px;
  border: 1px solid #cccccc52;
  border-radius: 5px;
  background: #d6eaea5c;
  padding: 2px 10px;
  line-height: 32px;
  font-size: 1rem;
  width: 100%;
  overflow: hidden;
}
.custom-modal-add .modal-wrapper .field-row ion-label{
  font-size: 1rem;
  margin-bottom: 15px;
}

.page-home .list-md,
.item-native{
  background: transparent !important;
}
.w-100{
  width: 100%;
}
.pl-18{
  padding-left: 18px !important;
}
.pr-18{
  padding-right: 18px !important;
}
.text-white{
  color: #fff;
}
.first-card-section{
  margin: 20px;
  -webkit-box-shadow: 0px 29px 21px 0px rgba(218,231,240,1);
  -moz-box-shadow: 0px 29px 21px 0px rgba(218,231,240,1);
  box-shadow: 0px 29px 21px 0px rgba(218,231,240,1);
  border-radius: 8px;
  margin-top: -45px;
  background: #fff;

}
.head-card{
  border-bottom: 1px solid #ccc;
  padding: 2px 5px;
  margin-bottom: 5px;
}
.header-section{
  height: 180px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  background: -webkit-gradient(to bottom, #008a37bd, #a2f754b5);
  background: linear-gradient(to bottom, #008a37bd, #a2f754b5);
}

.header-section ion-icon{
  font-size: 28px;
}

.avatar-user{
  border: 2px solid #fff;
  background: #fbb44b;
}
.page-title{
  padding: 5px;
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 0;
  width: 100%;
}

.custom-submit-btn{
    width: 100%;
    height: 45px;
    --background: linear-gradient(to right, #008a37bd, #a2f754b5);
    box-shadow: 0px 0px 11px #ccc;
}
.custom-alert .alert-head{
  background: linear-gradient(to right, #008a37bd, #a2f754b5);
}
.custom-alert .alert-wrapper{
  border: 2px solid #008a37bd;
}
.text-free{
  color: #33883b;
}
.text-busy{
  color: #0cd1e8;
}
ion-input input{
  padding-left: 10px;
}
.loader-content mat-progress-spinner{
  margin: auto;
}
