.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.b-rad-50,
.b-rad-50 button{
  border-radius: 50px;
  --border-radius: 50px;
}
.text-center{
  text-align: center;
}
.uppercase{
  text-transform: uppercase;
}
.item-interactive.ion-invalid,
.item-interactive.ion-valid{
    --highlight-background: transparent;
}
.item-interactive.ion-pristine.ion-invalid.ion-touched{
  box-shadow: 1px 1px 3px 2px #c30606 !important;
}
agm-map{
   height: calc(100vh - 10px);
 }
