.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.b-rad-50,
.b-rad-50 button{
  border-radius: 50px;
  --border-radius: 50px;
}
.text-center{
  text-align: center;
}
.uppercase{
  text-transform: uppercase;
}
.item-interactive.ion-invalid,
.item-interactive.ion-valid{
    --highlight-background: transparent;
}
.item-interactive.ion-pristine.ion-invalid.ion-touched{
  box-shadow: 1px 1px 3px 2px #c30606 !important;
}
agm-map{
   height: calc(100vh - 10px);
 }
 .custom-input{
    width: 100%;
    margin: 5px 0;
    height: 55px;
    border: none;
    background: #ecf3ff;
    padding: 10px;
    border-radius: 5px;
 }
 .label-fixed.sc-ion-label-md-h{
   -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
 }
 .w-100{
   width: 100% !important;
 }
 .item-native .item-inner{
   background: #fff !important;
 }
.back-button{
  width: 40px;
  position: absolute;
}
.back-button i{
    font-size: 45px;
    color: #2fb5ac;
}
ion-select.custom-input{
  text-align: left;
  line-height: 38px;
}
.add-client i,
.add-client{
  font-size: 35px;
  box-shadow: 0px 0px 5px #1dc1b6;
  border-radius: 50%;
}
