<ion-content class="onboard-page">
  <span class="skip" [routerLink]="['/login']">Passer</span>
  <ion-slides class="slides-elm" [options]="slideOptsOne" #onBoardSlide>
    <ion-slide *ngFor="let slide of [0,1,2]">
      <ion-grid>
        <h2 class="title">{{label?.title[slide]}}</h2>
        <p class="description">{{label?.description[slide]}}</p>
        <img class="img" [src]="label?.images[slide]" alt="">
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-footer>
    <ion-button class="next-btn" expand="full" color="primary" (click)="nextSlide()">Suivant</ion-button>
  </ion-footer>
</ion-content>
