.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.location-icon{
  font-size: 4rem;
}

.location-img{
  width: 150px;
}
.location-text{
    font-size: 22px;
    color: #1f830c;
    text-transform: uppercase;
    font-weight: 900;
}
.slides-section-container{
  margin-top: -75px;
  padding: 20px 40px;
}
.geolocation-section,
.result-info{
      padding: 10px 15px 50px 15px;
      background: #fff;
      border-radius: 13px;
      box-shadow: 0px 14px 20px 4px #e8ffe8;
      margin: 5px;

}
.result-info{
      padding: 50px 20px;
}

.result-info ion-label{
      font-size: 20px;
}
.result-info ion-row{
      margin: 15px 0;
}
.form-control ion-label{
  text-align: left;
}
.separator{
    margin: auto;
    padding: 40px 0;
    font-size: 25px;
    font-weight: 800;
}
