.img-section{
  .avatar{
		width: 100px;
    height: 100px;
		margin: auto;
		border-radius: 50%;
	}
  .avatar-container{
    z-index: 999;
  }

	padding: 30px 0;
  background: url("../assets/images/logo-white.png") no-repeat -30px -18px;
  background-size: 47%;
  background-color: #0f8e38bf;
  position: relative;
}
.img-section::after{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: #08080891;
  width: 100%;
  height: 100%;
}

.loader-content{
  background-color: #0000006b;
  z-index: 999;
  width: 100%;
  padding-top: 50%;
}
.ecopub{
  color: white;
  font-weight: bold;
}
.logout-text{
  margin: 10px;
}
.menu-item.active{
  background-color: #E84F1C;
  color: #fff;
}
.menu-item.active ion-icon{
  color: #fff;
}
