.img-section{
  .avatar{
		width: 100px;
    height: 100px;
		margin: auto;
		border-radius: 50%;
	}
  .logout-text{
    color: #710d0d;
  }
	padding: 30px 0;
	background-image: linear-gradient(to right top, #9fa844, #b0ac4e, #c0b05a, #cfb467, #dcb874);
}

.loader-content{
  background-color: #0000006b;
  z-index: 999;
  width: 100%;
  padding-top: 50%;
}
