<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List des clients
    </ion-title>
    <ion-buttons slot="end" class="add-client" [routerLink]="['/add-client']">
        <ion-icon class="add-client" name="add-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="client-list-page">
  <ion-list>
    <ion-item *ngFor="let item of clients" class="client-item">
      <ion-icon name="ios-business" class="icon-client" slot="start"></ion-icon>
       <ion-label class="text-client">
         <h2>{{item?.name}}</h2>
         <h3>{{item?.address}}</h3>
         <p>{{item?.phone}} - {{item?.email}}</p>
       </ion-label>
       <div class="item-note" slot="end">
         <ion-icon name="arrow-forward" class="forward-icon" [routerLink]="['/list', item.id]"></ion-icon>
       </div>
     </ion-item>
  </ion-list>
</ion-content>
