.client-details-page{
  .header-img{
    height: 200px;
    width: 100%;
    position: relative;
    background: #ccc;
    overflow: hidden;
  }
  .overlay-bg{
    position: absolute;
    background: #00040494;;
    height: 100%;
    width: 100%;
    top: 0;
  }
  .title{
    position: absolute;
    color: #fff;
    z-index: 99;
    bottom: 10px;
    left: 5px;
  }
  .icon-client{
    font-size: 40px;
    margin-right: 15px;
    margin: 0px 0px 0 -15px;
    background-color: #2fb5ac;
    height: 80px;
    padding: 0 15px;
    color: #fff;
  }
  .client-item{
    //--background: #2fb5ac;
    height: 80px;
   margin: 5px 6px 8px 4px;
   border-radius: 5px;
   box-shadow: 1px 0px 11px 5px #ececec;
       width: 100%
  }
  .text-client{
    margin: 0;
    padding: 0 0 0 10px;
    background: #fff;
  }
  .forward-icon{
    font-size: 30px;
    color: #2fb5ac;
  }
}
