<ion-content class="list-item-page">
  <ion-grid class="header-section">
    <ion-list>
      <ion-list-header class="pl-18 pr-18">
        <ion-icon class="text-white filter-icon" name="menu" (click)="toggleMenu()"></ion-icon>
        <ion-label class="text-white page-title">Gestion Personnelle</ion-label>
      </ion-list-header>
    </ion-list>
  </ion-grid>
  <!-- <app-list-items [params]="listParams"></app-list-items> -->
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
