<ion-header class="light-background">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-page light-background">
  <ion-grid>
    <ion-row>
      <ion-slides class="slides-elm" [options]="slideHomeOne" #homeSlide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">20</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="people" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Clients</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">500</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="trash" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Poubelles</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">50</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="locate" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Emplacements</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">1200</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="people" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Publicités</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-list class="list-product-section">
          <ion-list-header>
            Récentes produits ajoutés
          </ion-list-header>
          <ion-item>
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <!-- <ion-avatar slot="start">
              <img src="./avatar-han.png">
            </ion-avatar> -->
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>
    </ion-list>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <h6>Récentes emplacements</h6>
      <ion-slides class="slides-elm products" [options]="slideHomeCard" #homeSlideCard>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
                <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
            <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
              <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
              <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>
