<!-- <ion-header class="light-background">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-page light-background">
  <ion-grid>
    <ion-row>
      <ion-slides class="slides-elm" [options]="slideHomeOne" #homeSlide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">20</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="people" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Clients</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">500</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="trash" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Poubelles</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">50</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="locate" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Emplacements</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-grid class="elem-grid">
            <ion-chip>
              <ion-label color="primary">1200</ion-label>
            </ion-chip>
            <ion-row>
              <ion-icon name="people" class="icon-elm"></ion-icon>
            </ion-row>
            <ion-row>
              <p class="title mx-auto">Publicités</p>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-list class="list-product-section">
          <ion-list-header>
            Récentes produits ajoutés
          </ion-list-header>
          <ion-item>
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="./avatar-han.png">
            </ion-avatar>
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-icon class="p-icon" name="archive" slot="start"></ion-icon>
            <ion-label>
              <h2>Ref: P7458</h2>
              <p>Patte d'oie.</p>
            </ion-label>
            <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
          </ion-item>
    </ion-list>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <h6>Récentes emplacements</h6>
      <ion-slides class="slides-elm products" [options]="slideHomeCard" #homeSlideCard>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
                <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
            <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
              <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-elm">
          <ion-card>
            <ion-card-header>
              <img src="../../assets/images/map-default.png" alt="">
            </ion-card-header>

            <ion-card-content>
              <ion-label>Guinaw Rail Sud</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content class="page-home">
  <ion-grid class="header-section">
    <ion-list>
      <ion-list-header class="pl-18 pr-18">
        <ion-icon class="text-white filter-icon" name="menu" (click)="toggleMenu()"></ion-icon>
        <ion-label></ion-label>
        <ion-icon class="text-white notif-icon" name="notifications-outline"></ion-icon>
        <ion-badge class="badge">5</ion-badge>
      </ion-list-header>
      <ion-item lines="none">
          <ion-avatar slot="start" class="avatar-user">
            <img src="assets/images/avatar.png">
          </ion-avatar>
          <ion-label>
            <h2 class="text-white">{{customerFirstName || 'ECOPUB'}} </h2>
            <h3 class="text-white">Admin</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-grid>
  <ion-grid class="first-card-section">
    <ion-row class="head-card">
      <ion-toolbar>
        <ion-title>Dépenses</ion-title>
        <ion-label slot="end">20 000 F CFA</ion-label>
      </ion-toolbar>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="3" class="ion-align-items-center horizontal-items" fixed *ngFor="let item of itemBox">
        <img src="assets/images/{{item?.icon}}" />
        <h4>{{item?.title}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-list-header class="pl-18 pr-18">
      <b class="w-100">Emplacements clés</b>
      <ion-icon class="arrow" name="chevron-forward" ></ion-icon>
    </ion-list-header>
    <ion-row>
      <ion-col size="6" size-md fixed *ngFor="let menu of menus">
        <ion-item lines="none">
          <ion-avatar slot="start" class="img-item">
            <img src="assets/images/slide3.png">
          </ion-avatar>
          <ion-label>
            <h3>{{menu?.title}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="slider-section">
    <ion-list-header class="pl-18 pr-18">
      <b class="w-100">Produits</b>
      <ion-icon class="arrow" name="chevron-forward" ></ion-icon>
    </ion-list-header>
    <ion-row class="pl-18 pr-18">
      <ion-slides class="slides-elm" [options]="slideOpt" #homeSlide>
        <ion-slide class="slide-elm" *ngFor="let menu of menus">
          <ion-item class="w-100 sliding-item-elm" lines="none">
            <ion-avatar slot="start" class="img-item">
              <img src="assets/images/trash.png">
            </ion-avatar>
            <ion-label>
              <h3>{{menu?.title}}</h3>
              <p>12 produits</p>
            </ion-label>
          </ion-item>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-tabs class="tab-menu">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="repeat"></ion-icon>
      <ion-label>Transfert</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="phone-portrait"></ion-icon>
      <ion-label>Credit</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
