<ion-content>
    <ion-icon class="text-white filter-icon toggle-menu" name="menu" (click)="toggleMenu()"></ion-icon>
  <agm-map [restriction]="'SN'" [latitude]="coordinated.lat" [longitude]="coordinated.long" [zoom]="10">
    <agm-marker *ngFor="let loc of locations" [label]="loc?.district" [title]="loc?.district" [openInfoWindow]="loc?.city" [latitude]="loc?.lattitude" [longitude]="loc?.longitude" (markerClick)="getDataLocation($event, loc)" (markerDblClick)="getDataLocation($event, loc)"
    [iconUrl]="trashUrl" ></agm-marker>
    <!-- <agm-direction [origin]="origin" [destination]="destination"> </agm-direction>  -->
  </agm-map>
</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed" >
  <ion-fab-button [routerLink]="['/add', 'product']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
